@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body{
    display:flex;
    flex-direction: column;
    position:absolute;
    min-height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    border:none;
    background-color:#121212;
    color:hsla(0, 0%, 100%, 0.87);
    font-family: 'Ubuntu', sans-serif;
}

  .nav__list {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left:0;
    z-index:1;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    background-color: hsla(0, 0%, 100%, 0.05);
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
  }

.nav__list__item {
    float: left;
}

.nav__list__item:last-child {
    float: right;
}

.nav__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    text-decoration: none;
    height:3rem;
    padding: .8rem 2.5rem;
    color:hsla(0, 0%, 100%, 0.75);
    font-size:1.3em;    
}

.nav__link span{
    font-weight: 300;
    margin-left: .5rem;
}
  
.nav__list__item:first-child .nav__link{
    font-size:1.7em;
    background-image: linear-gradient(to bottom right, #73A4FC, #4677CF, #5586DE, #6495ED);
    font-weight: 500;
    color:white;
}

.main__div{
    display:flex;
    flex-direction: column;
    margin-top: 4.6rem;
}

.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:35vh;
    background-image: url(../img/pg4img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}

.subscription{
    margin-left:3rem;
    position: relative;
    animation-name: subscription-animation;
    animation-duration: 3s;
}

@keyframes subscription-animation{
    from{margin-left:30rem;}
    to {margin-left:3rem;}
}

.sub__title{
    margin-top:0;
    margin-bottom:2rem;
}

.sub__link{
    text-decoration: none;
    padding:0.7rem;
    border-radius: 4px;
    color:white;
    background-image: linear-gradient(to bottom right, #73A4FC, #4677CF, #5586DE, #6495ED);
}

.content{
    display: flex;
    flex-direction: row;
    position: relative;
    height:55vh;
}

.menu{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: start;
    width:24.5rem;
    height:100%;
    background-color: hsla(0, 0%, 100%, 0.05);
    box-shadow: 0px 20px 25px 0px rgba(0,0,0,0.2);
}

.menu__link{
    text-decoration: none;
    color:hsla(0, 0%, 100%, 0.3);
    font-size:1rem;
    padding:2rem;
}

.menu__button{
    position: absolute;
    margin-left:2rem;
    margin-top: 2rem;
    font-size: 1.5em;
    color:hsla(0, 0%, 100%, 0.5);
}

.menu__link:first-child{
    color:hsla(0, 0%, 100%, 0.5);
}

.menu__link:hover{
    color:hsla(0, 0%, 100%, 0.1);
}

.gallery{
    margin-top:2rem;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    width:100%;
}

.gallery__container1{
    grid-column-start: 1;
    grid-column-end: 2;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery__container2{
    grid-column-start: 2;
    grid-column-end: 3;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery__container3{
    grid-column-start: 3;
    grid-column-end: 4;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery__container{
    height:60%;
    width:75%;
    background-color: hsla(0, 0%, 100%, 0.05);
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    border:5px solid;
    border-color: #121212;
    animation-name:border;
    animation-duration: 1s;    
}

@keyframes border {
    0%   {border-top:5px solid;}
    25%  {border-right:5px solid;}
    50%  {border-bottom:5px solid;}
    75%  {border-left:5px solid;}
  }

.gallery__game{
    width:100%;
    height: 77.5%;
    margin:0;
    padding:0;
    border:none;
    display:flex;
    flex-direction: column;
    position: relative;
}

.gallery__img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 77.5%;
    width: 100%;
    position: absolute;
    top:0;
}

.gallery__name{
    width: 100%;
    height: 77.5%;
    display:none;
}

.gallery__link{
    text-decoration: none;
    text-align: center;
    color:white;
    width: 100%;
    height: 22.5%;
    background-image: linear-gradient(to bottom right, #73A4FC, #4677CF, #5586DE, #6495ED);
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery__link:hover ~ .gallery__img {
    opacity:0.1;
    transition: ease-in 0.5s;
}


.gallery__link:hover ~ .gallery__name{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:2;
}

@media screen and (max-width: 600px){
    body{
        font-size: 8px;
    }
    .nav__link{
        padding: .2rem .7rem;
    }

    .nav__link span{
        margin-left: .2rem;
    }

    .main__div{
        margin-top:3.4rem;
    }

    .cover{
        display:none;
    }

    .content{
        height: 100vh;
    }

    .menu{
        z-index:2;
        display:none;
        background-color: hsla(0, 0%, 0%, 0.9);
        width:100%;
        align-items: center;
        position: sticky;
    }

    .menu__button{
        margin-top: 1rem;
        margin-left: 1.2rem;
        font-size: 2.5em;
        width: 100%;
        z-index:3;
    }

    .menu__button:hover ~ .menu{
        display: flex;
    }


    .gallery{
        grid-template-columns: 100%;
        grid-template-rows: 30% 10% 30% 10% 30%;
        height:80%;
        position: absolute;
        margin-top:4rem;
    }

    .gallery__container1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .gallery__container2{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .gallery__container3{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .gallery__container{
        height:100%;
    }

    .gallery__link{
        font-size:2em;
    }
}