.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index:1;
    border: solid;
    border-width: 1px 0;
    border-color:grey;
    border-top:none;
    border-left:none;
    border-right:none;
  }

.nav__list__item {
    float: left;
}

.nav__list__item:last-child{
    float:right;
}

.nav__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height:3rem;
    color: cornflowerblue;
    padding: .8rem 2.5rem;
    text-decoration: none;
    font-size:1.7rem;
}

.nav__list__item:last-child .nav__link{
    color:white;
    background-color: dodgerblue;
    font-size:1.3rem;
}
  
.nav__link:hover{
    background-color: dodgerblue;
    color:white;
}

.main__div{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}