<!DOCTYPE html>
<html lang= "ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name = "author" content="Gaming memebership"/>
  <link rel="stylesheet" type="text/css" href="../../static/CSS/style2.css">
  
  <title>Premium Gaming</title>
</head>
<header>
  <%- include('../partials/navbar'); %>
</header>
<body>
  <main class="main__div">
    <div class="bgsquare"></div>
    <div class="password">
      <div class="step">
        Step 1 of 3
      </div>
      <div class="password__title">
        Create a password to start<br>your membership
      </div>
      <div class="password__subtitle">
        Just a few more steps and you're done!
      </div>
      <form class="password__passform" action="page3.ejs"> 
        <div class="password__add">
          <input class="password__addpass" type="password" /><label class="password__addpass__label">Add a password</label>
        </div>
        <div class="terms">
          <input type="checkbox" id="termsconditions" name="terms" value="T&C">
          <label id="tc1" for="termsconditions">By checking this box, you are agreeing to our terms of service.</label><br>
        </div>
        <div class="terms">
          <input type="checkbox" id="email" name="emails" value="Emails">
          <label id="tc2" for="email">Send me Premium Gaming news, events and exclusive offers.</label>
        </div>
        <button class="password__button" type="submit">Next</button>
      </form>
      </div>
  </main>

</body>

</html>